#etherGreen0 {
	fill:#00e90f;
	min-height: 100%;
	height: 100%;
	position:absolute;
	left:20.6%;
	top:5%;
}


#etherGreen1 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:26.1%;
	top:5%;
}

#etherGreen2 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:31.6%;
	top:5%;
}

#etherGreen3 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:37.1%;
	top:5%;
}

#etherGreen4 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:42.6%;
	top:5%;
}

#etherGreen5 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:62.6%;
	top:5%;
}

#etherGreen6 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:68.1%;
	top:5%;
}

#etherGreen7 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:73.6%;
	top:5%;
}

#etherGreen8 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:79.1%;
	top:5%;
}

#etherGreen9 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:84.6%;
	top:5%;
}


#etherGreen10 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:12%;
	top:5%;
}

#etherMaster0 {
	fill:#00e90f;
	min-height: 100%;
	height: 100%;
	position:absolute;
	left:20.6%;
	top:5%;
}

#etherMaster1 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:26.1%;
	top:5%;
}

#etherMaster2 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:31.6%;
	top:5%;
}

#etherMaster3 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:37.1%;
	top:5%;
}

#etherMaster4 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:42.6%;
	top:5%;
}

#etherMaster5 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:62.6%;
	top:5%;
}

#etherMaster6 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:68.1%;
	top:5%;
}

#etherMaster7 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:73.6%;
	top:5%;
}

#etherMaster8 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:79.1%;
	top:5%;
}

#etherMaster9 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:84.6%;
	top:5%;
}


#etherMaster10 {
	fill:#00e90f;
	min-height: 100%;
    	height: 100%;
	position:absolute;
	left:12%;
	top:5%;
}



